@import "tailwindcss";
body {
  background-color: #121212;
}

/* Nav and Hero Section */
.navBar {
  font-family: "Montserrat", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-btn:hover {
  color: #d4af37;
}

.logo {
  color: #f4b400;
  font-size: 1.5rem;
  font-weight: 600;
  height: 3rem;
}

.hero-bg-img {
  background: url(../public/images/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70dvh;
}

.hero-my-img {
  background-image: url(../public/images/Porfolio-image2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32%;
  height: 70dvh;
}

.hero-btn:hover {
  background-color: #e0b31c;
  color: #222222;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70dvh;
  box-shadow: 0px 10px 20px #000000;
}
/* Work Section */

.portfolio-section {
  padding: 50px 0;
  text-align: center;
  color: #e0e0e0;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.portfolio-grid {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.portfolio-item {
  flex: 0 0 auto;
  width: 460px;
  aspect-ratio: 16/9;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-card {
  position: relative;
  width: 460px;
  aspect-ratio: 16/9;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 8px #d4af372c;
}

.portfolio-image {
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
}

.portfolio-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e0b31c;
  color: #222222;
  text-align: center;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Foote section */
/* Footer.css */
footer {
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-top {
  background-color: #222;
  padding: 20px;
}

.logo-f {
  font-size: 24px;
  font-weight: bold;
  color: #e0e0e0;
}

.logo-f span {
  color: #f4b400;
}

.social-icons {
  font-size: 24px;
  color: #e0e0e0;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons svg {
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons svg:hover {
  color: #f4b400;
}

.footer-nav a {
  color: #e0e0e0;
  font-weight: 600;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}

.footer-nav a:hover {
  color: #f4b400;
}

.footer-text {
  font-size: 14px;
  margin-top: 10px;
  color: gray;
}

.footer-text a {
  color: #f4b400;
  text-decoration: none;
}

.footer-bottom {
  background-color: #222;
  padding: 20px;
}

.footer-bottom .footer-text {
  color: white;
}

/* CaseStudy section */

.portfolio-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  margin: 0;
  min-height: 125dvh;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  transition: filter 0.3s ease-in-out;
}

/* Apply blur effect when hovering over a video, excluding the hovered one */
.portfolio-container.video-hover .video:not(.hovered) {
  filter: blur(2px);
}

/* Video Section */
.video-section {
  position: relative;
  width: 90vw;
  height: 60vh;
  max-width: 1200px;
}
.Casestudy-heading {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Video Elements - Different Sizes & Placements */
.video {
  position: absolute;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  transition: filter 0.3s ease-in-out;
}

/* Center Large Video */
.video-1 {
  width: 42rem;
  aspect-ratio: 16/9;
  top: 0%;
  right: 0%;
  transform: translate(5%, 15%);
}

/* Top Left Small */
.video-2 {
  width: 9rem;
  aspect-ratio: 9/16;
  top: 5%;
  left: 5%;
  transform: translate(225%, 17%);
}

/* Bottom Left Medium */
.video-3 {
  width: 35rem;
  aspect-ratio: 16/9;
  top: 0%;
  left: 0%;
  transform: translate(-5%, 110%);
}
/* Text Section */
.text-section {
  flex: 1;
  margin-top: -2rem;
  max-width: 700px;
  text-align: center;
  transform: translate(45%, 50%);
  transition: opacity 0.3s ease-in-out;
}

/* Hide text section when hovering over a video */
.portfolio-container.video-hover .text-section {
  opacity: 0;
  pointer-events: none;
}

/* Tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.tag {
  background-color: #22222275;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  color: #e0b31c;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* Description */
.description {
  width: 550px;
  text-align: left;
  font-size: 14px;
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* View Project Button */
.view-project-btn {
  width: fit-content;
  background-color: transparent;
  border-radius: 15px;
  padding: 4px 10px;
  border: none;
  color: #f4b400;
  border: 1px solid #bbb;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.view-project-btn:hover {
  background-color: #f4b400;
  color: #e0e0e0;
  border: none;
  transform: scale(1.02);
}

/* Arrow */
.arrow {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

/* Contact section */

.Contact-container {
  width: auto;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #000003a2;
  border-radius: 10px;
  text-align: center;
}

.Form-side {
  width: 50%;
  padding: 0rem 2rem;
}

h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin: 2rem;
  color: #e0e0e0;
  font-weight: 600;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
form input,
form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #f4b400;
}

.btn-contact {
  background-color: transparent;
  border-radius: 15px;
  padding: 8px 15px;
  border: none;
  color: #f4b400;
  border: 1px solid #bbb;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin: 1.5rem;
}

.btn-contact:hover {
  background-color: #f4b400;
  color: #222;

  border: 1px solid #f4b400;
}

.contact-info {
  color: #e0e0e0;
  width: 40%;
  height: 50dvh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  padding-left: 3rem;
}

.Contact-data {
  padding-left: 2rem;
  border-left: 3px solid #e0e0e0;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: column;
}

strong {
  color: #e0b31c;
}
/* Mobile Version CSS */
@media (max-width: 768px) {
  /* Navbar */
  .navBar {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .action-btn {
    font-size: 0.9rem;
  }

  /* Hero Section */
  .hero-bg-img {
    height: 50vh;
  }

  .hero-my-img {
    background-size: cover;
    height: 50vh;
  }

  .hero-text {
    height: auto;
    padding: 0px;
    margin: 0px;
    padding-top: 1dvh;
  }

  .hero-text h1 {
    padding-top: 7dvh;
    font-size: 3.5rem;
  }

  .hero-text p {
    font-size: 1rem;
    padding-top: 0.5dvh;
    margin-bottom: -28dvh;
    background-color: #dfa400a2;
  }

  .hero-CTA {
    padding-top: 28dvh;
    margin: 0px;
  }
  /* Product section */
  .product-card {
    width: 200px !important;
    flex: 0 0 200px !important;
  }

  .product-image {
    width: 100% !important;
    height: 100%;
  }

  /* Case Study Section */
  .portfolio-container {
    min-height: 0dvh;
    height: 60dvh;
    padding: 10px;
    gap: 0px;
    margin-top: 5dvh;
  }

  .video-section {
    width: 100%;
    height: auto;
  }

  .video-1 {
    width: 15rem;
    aspect-ratio: 16/9;
    margin-bottom: 0px;
    top: 30dvh;
    right: 37dvw;
  }
  .video-2 {
    width: 7rem;
    top: 21dvh;
    left: 0rem;
  }

  .video-3 {
    width: 0;
  }
  .text-section {
    height: 20dvh;
    transform: none;
    margin-top: 20px;
    padding: 10px;
  }

  .tags {
    justify-content: center;
  }

  .tag {
    font-size: 0.6rem;
    padding: 3px 5px;
  }

  .description {
    width: 100%;
    font-size: 14px;
    padding: 5px 8px;
  }

  .view-project-btn {
    font-size: 14px;
    padding: 0px 8px;
  }

  /* Contact Section */
  .Contact-container {
    flex-direction: column;
    margin-top: 3rem;
    padding: 10px;
    height: auto;
  }

  .Form-side {
    width: 100%;
    padding: 0;
  }

  .contact-info {
    width: 100dvw;
    padding: 0px;
    text-align: start;
  }

  .Contact-data {
    font-size: 18px;
    padding-right: 10px;
    padding-left: 20px;
    align-items: center;
    margin-left: 30px;
    display: flex;
    align-items: baseline;
  }

  .fields {
    flex-direction: column;
    gap: 10px;
  }

  h2 {
    font-size: 2rem;
  }

  form input,
  form textarea {
    font-size: 14px;
  }

  .btn-contact {
    font-size: 14px;
    padding: 5px 10px;
  }
}
/* Footer Section */

.logo-f {
  font-size: 1.2rem;
}

.social-icons {
  font-size: 20px;
}

.footer-nav a {
  font-size: 12px;
}

.footer-text {
  font-size: 12px;
}
